TheReaders/files/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="author">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="book">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element type="xs:integer" name="pageCount" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element type="xs:boolean" name="damaged" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="genre" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

